<!-- {% elif label.label_type == 1 %}
            <input type="checkbox" class="btn-check check-label" id="{{label.label_id}}" name="{{label.label_parent}}"
                autocomplete="off">
            <label class="btn btn-outline-success" id="{{label.label_id}}-label"
                for="{{label.label_id}}">{{label.label_name}}</label>
            {% elif label.label_type == 2 %}
            <input type="radio" class="btn-check radio-label" name="{{label.label_parent}}" id="{{label.label_id}}"
                autocomplete="off">
            <label class="btn btn-outline-success" id="{{label.label_id}}-label"
                for="{{label.label_id}}">{{label.label_name}}</label>
            {% elif label.label_type == 3 %}
            <label class="input-text">{{label.label_name}}</label>
            <textarea class="form-control text-label" name="{{label.label_parent}}"
                placeholder="{{label.label_placeholder}}" id="{{label.label_id}}"></textarea>
            {% elif label.label_type == 4 %}
            <button type="button" id="{{label.label_id}}" class="btn btn-success bbox-btn">Add a new
                {{label.label_name}} bounding box</button> -->