{% extends "layout/layout.html" %}

{% block styles %}
<link href="../../static/stylesheets/annotationStyle.css" rel="stylesheet">
<link href="../../static/libs/annotorious/annotorious.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">{% endblock styles%}

{% block nav_annotate %}active{% endblock nav_annotate%}



{% block content %}

{% if schemas %}



<div class="container-fluid" id="ctrl-box">

    <div class="row" style="padding-top: 5px; padding-bottom: 5px">
        <div class="col-md-1">

        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-3">
            <div class="row">

                <!-- <div class="col-auto">
                    <label class="col-form-label">Instruction: <i class="bi bi-link-45deg url-img"></i></label>
                </div> -->
                <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Go to</span>
                        <input type="text" id="image-index-text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col-form-label" id="index-label"></label>
                </div>

            </div>
        </div>
        <div class="col-md-2" id="pause-div">
            <!-- <button type="button" class="btn btn-secondary btn-sm" id="full-screen" isFullScreen="0">Full screen</button> -->
            <button type="button" class="btn btn-secondary btn-sm" id="pause-eyetracker" isPause="0">Pause</button>

        </div>
    </div>
</div>

<hr>

<div class="container-fluid" id="annotate-box">
    <div class="row">
        
        <div class="col-md-10" id="ImagePanel">
            <div id="widgetPanel">
                <div class="form-group .image-meta-info" id="paper-meta-info">

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img class="url-img" id="discuss-btn" ifClicked=0 src="../static/images/icons/discuss-0.png"
                        data-toggle="tooltip" title="mark as a to-discuss figure">
                    <img class="url-img" id="bookmark-btn" ifClicked=0 src="../static/images/icons/fun-0.png"
                        data-toggle="tooltip" title="mark as a fun figure">
                    <img class="url-img" id="caption-btn" ifClicked=0 src="../static/images/icons/caption-0.png"
                        data-toggle="tooltip" title="show caption">
                    <img class="url-img" id="paper-btn" src="../static/images/icons/paper-link-0.png" data-toggle="tooltip"
                        title="link to the paper">

                </div>
                <div class="form-group .image-meta-info" id="coding-meta-info">

                </div>

            </div>
            <div id="img-box">
                <img class="origin-img" id="vis-img" src="../static/images/placeHolder-gray.png">
            </div>
            <div style="text-align: right;" id="mark-error-box">
                <label><input type="checkbox" id="error-btn" value="">&nbsp;This figure has error</label>
                <!-- <button type="button" id = "loadGT" class="btn btn-outline-primary">Show Ground Truth Annotations</button> -->

            </div>


        </div>
        <div class="col-md-2" id="AnnoPanel">

            {% for label in schemas %}
            {% if label.label_type == 0 %}
            <hr>
            <label class="category-text block-label" id="{{label.label_id}}">{{label.label_name}}</label>
            {% elif label.label_type == 1 %}
            <input type="checkbox" class="btn-check check-label" id="{{label.label_id}}" name="{{label.label_parent}}" autocomplete="off">
            <label class="btn btn-outline-primary" id="{{label.label_id}}-label" for="{{label.label_id}}">{{label.label_name}}</label>
            {% elif label.label_type == 2 %}
            <input type="radio" class="btn-check radio-label" name="{{label.label_parent}}" id="{{label.label_id}}"
                autocomplete="off">
            <label class="btn btn-outline-primary" id="{{label.label_id}}-label" for="{{label.label_id}}">{{label.label_name}}</label>
            {% elif label.label_type == 3 %}
                {% if label.label_name == None%}

                {% else %}
                    <label class="input-text">{{label.label_name}}</label>
                {% endif %}
                {% if label.label_placeholder == None%}
                <textarea class="form-control text-label" name="{{label.label_parent}}" placeholder="" id="{{label.label_id}}"></textarea>
                {% else %}
                <textarea class="form-control text-label" name="{{label.label_parent}}" placeholder="{{label.label_placeholder}}" id="{{label.label_id}}"></textarea>
                {% endif %}
            <!-- rect box -->
            {% elif label.label_type == 4 %} 
            <button type="button" id="{{label.label_id}}" class="btn btn-outline-primary block-label local-btn rect-btn">
                {{label.label_name}} &nbsp;
                <div class="svg-btn-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" fill="transparent" stroke="{{label.label_color}}" stroke-width="8" class="bi bi-1-circle-fill" viewBox="0 0 100 100">
                        <path d="M 11.87,79.59
                        C 11.87,79.59 11.87,19.99 11.87,19.99M 19.94,87.67
                        C 19.94,87.67 79.45,87.67 79.45,87.67M 87.52,21.63
                        C 87.52,21.63 87.52,79.59 87.52,79.59M 19.94,11.91
                        C 19.94,11.91 79.45,11.91 79.45,11.91M 95.59,87.67
                        C 95.59,92.13 91.98,95.74 87.52,95.74
                        83.06,95.74 79.45,92.13 79.45,87.67
                        79.45,83.21 83.06,79.60 87.52,79.60
                        91.98,79.60 95.59,83.21 95.59,87.67 Z
                        M 95.59,11.91
                        C 95.59,16.37 91.98,19.98 87.52,19.98
                        83.06,19.98 79.45,16.37 79.45,11.91
                        79.45,7.45 83.06,3.84 87.52,3.84
                        91.98,3.84 95.59,7.45 95.59,11.91 Z
                        M 19.94,87.67
                        C 19.94,92.13 16.33,95.74 11.87,95.74
                        7.41,95.74 3.80,92.13 3.80,87.67
                        3.80,83.21 7.41,79.60 11.87,79.60
                        16.33,79.60 19.94,83.21 19.94,87.67 Z
                        M 19.94,11.91
                        C 19.94,16.37 16.33,19.98 11.87,19.98
                        7.41,19.98 3.80,16.37 3.80,11.91
                        3.80,7.45 7.41,3.84 11.87,3.84
                        16.33,3.84 19.94,7.45 19.94,11.91 Z"/>
                    </svg>
                </div>
                
            </button>
            <!-- polygon  -->
            {% elif label.label_type == 5 %}
            <button type="button" id="{{label.label_id}}" class="btn btn-outline-primary block-label local-btn poly-btn">
                {{label.label_name}} &nbsp;
                <div class="svg-btn-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" fill="transparent" stroke="{{label.label_color}}" stroke-width="8" class="bi bi-1-circle-fill" viewBox="0 0 100 100">
                        <path d="M 55.05,55.78
                        C 55.05,55.78 82.61,81.20 82.61,81.20M 56.03,45.77
                        C 56.03,45.77 81.57,17.17 81.57,17.17M 58.03,51.08
                        C 58.03,55.54 54.42,59.15 49.96,59.15
                        45.50,59.15 41.89,55.54 41.89,51.08
                        41.89,46.62 45.50,43.01 49.96,43.01
                        54.42,43.01 58.03,46.62 58.03,51.08 Z
                        M 12.13,79.32
                        C 12.13,79.32 12.13,19.71 12.13,19.71M 20.21,87.39
                        C 20.21,87.39 79.71,87.39 79.71,87.39M 20.21,11.64
                        C 20.21,11.64 79.71,11.64 79.71,11.64M 95.86,87.39
                        C 95.86,91.85 92.25,95.46 87.79,95.46
                        83.33,95.46 79.72,91.85 79.72,87.39
                        79.72,82.93 83.33,79.32 87.79,79.32
                        92.25,79.32 95.86,82.93 95.86,87.39 Z
                        M 95.86,11.64
                        C 95.86,16.10 92.25,19.71 87.79,19.71
                        83.33,19.71 79.72,16.10 79.72,11.64
                        79.72,7.18 83.33,3.57 87.79,3.57
                        92.25,3.57 95.86,7.18 95.86,11.64 Z
                        M 20.20,87.39
                        C 20.20,91.85 16.59,95.46 12.13,95.46
                        7.67,95.46 4.06,91.85 4.06,87.39
                        4.06,82.93 7.67,79.32 12.13,79.32
                        16.59,79.32 20.20,82.93 20.20,87.39 Z
                        M 20.20,11.64
                        C 20.20,16.10 16.59,19.71 12.13,19.71
                        7.67,19.71 4.06,16.10 4.06,11.64
                        4.06,7.18 7.67,3.57 12.13,3.57
                        16.59,3.57 20.20,7.18 20.20,11.64 Z"/>
                    </svg>
                </div>
            </button>
            {% endif %}
            {% endfor %}
            
            <div class="anno-ctrl-div mt-2">
                <button class="btn btn-primary anno-ctrl-btn" id="savecomment">save</button>
                <button class="btn btn-primary anno-ctrl-btn" id="next">next</button>
                <button class="btn btn-primary anno-ctrl-btn" id="previous">previous</button>&nbsp;&nbsp;&nbsp;&nbsp;

            </div>

            <!-- <div class="eye-tracker-eebug-panel">
                <hr>
                <label class="category-text block-label">Coordinates</label>
                Test coordinates:<label id="screen-coord"></label> <br>
                Web coordinates:<label id="web-coord"></label> <br>
                Image coordinates:<label id="img-coord"></label> <br>
                Viewport coordinates:<label id="viewport-coord"></label> <br>

            </div> -->



        </div>
        

    </div>

</div>

{% endif %}

{% endblock content %}



{% block libs %}


<script src="../static/libs/blowup.min.js"></script>
<script type="text/javascript">
    var username = '{{username}}';
    var is_ready = '{{is_ready}}';
    var url_image_id = '{{url_image_id}}';
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="../static/libs/openseadragon.min.js"></script>
<script src="../static/libs/annotorious/openseadragon-annotorious.min.js"></script>
<script src="../static/libs/annotorious/annotorious-selector-pack.min.js"></script>
<script src="../static/libs/annotorious/annotorious-toolbar.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
<script src="../static/javascripts/annotations/dbutils.js"></script>
<script src="../static/javascripts/annotations/tumor_109.js"></script>
<script src="../static/javascripts/annotations/annotate.js"></script>


{% endblock libs%}